.attend-event-container {
    font-family: jacques-francois-shadow;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.attend-event-content {
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.events-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.event {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.attend-button {
    background-color: #4D8536;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Add smooth transition for hover effect */
}

.attend-button:hover {
    background-color: #3A6A28; /* Highlight button in a darker green on hover */
    color: white; /* Keep text color white for contrast */
}
.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
    margin-top: 100px; /* Increased margin to bring buttons further down */
}

.action-button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%; /* Make buttons full width */
}


.action-button:hover {
    background-color: #4D8536;
    color: white;
}