.fidelity-logo {
    height: 8em;
}

.nav-link.disabled {
    color: gray;
    pointer-events: none; /* Disable clicking */
    cursor: not-allowed; /* Show a "not allowed" cursor */
}
.navbar {
    display: flex;
    align-items: center;
    background-color: #4D8536;
    height: 15vh;  
    h3 {
        color: white;
        font-size: 1.15em;
        margin-left: 1em;
    }

    input {
        background-color: #D9D9D9;
        border: none;
        border-radius: 2em;
        height: 2em;
        padding: 0.5em;
        font-size: 1em;
        margin-left: 60em;
        margin-right: .5em;
        width: 15em;
    }

}

.search-wrapper {
    position: relative;
    margin-left: auto; 
}

.nav-link {
    text-decoration: none;
}